mat-form-field {
  width: 300px;
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile {
  padding: 30px;
}

.mat-card-avatar {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px !important;
}

.mat-card-content {
  font-size: 1.2em;
}

span {
  font-weight: bold;
}

i {
  padding-right: 6px;
  font-size: 20px;
}
